{% extends "base.html" %}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}

    <center>
        <table>
            <td>
                <img src="{% static 'images\contact.jpeg' %}" alt="">
            </td>
            <td>
                <center>
                    <adress><i>
                            <h1>
                                <u>
                                    <font color="blue">KC High</font>
                                </u><br>
                                Olympia Panache<br>
                                33, Rajiv Gandhi Salai (OMR)<br>
              
 Navalur, Chennai - 600130<br>
                                Tamil Nadu, India<br>
                                </address>
                        </i></h1>
                </center>
            </td>
        </table>
    </center>

{% endblock %}
 
